* {
	margin: 0;
	font-family: "Arial";
}

header {
	padding: 15px;
	color: #ffffff;
	background-color: #003399;
	clear: left;
	font-size: 35px;
	text-align: center;
	font-weight: bold;
}

footer {
	padding: 15px;
	position: absolute;
	width: 100%;
	bottom: 0;
	color: #ffffff;
	background-color: #003399;
	clear: left;
	font-size: 12px;
	text-align: left;
	border-top: 2px solid #000000;
	font-style: italic;
}

ul {
	list-style-type: none;
	padding-left: 150px;
	padding-right: 100px;
	overflow: hidden;
	background-color: #99ccff;
	border-bottom: 2px solid #000000;
	border-top: 2px solid #000000;
	font-size: 20px;
	font-weight: bold;
}

li {
	float: right;
}

li a {
	display: inline-block;
	color: #000000;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #66ffff;
}

.active {
	background-color: #99ff99;
}

#body {
	position: absolute;
	background-color: #99e699;
	top: 125px;
	bottom: 0;
	width: 100%;
}

table {
	width: 100%;
	border-top: 2px solid #000000;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 20px;
	padding-bottom: 20px;
}

#disclaimer {
	border-top: 2px solid #000000;
	position: absolute;
	text-align: center;
	bottom: 75px;
	width: 100%;
	padding-top: 25px;
	font-style: italic;
}

h1 {
	border-top: 2px solid #000000;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

#text {
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-weight: bold;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}